body{
    
  background-image: url("../img/Fondo01.jpg");
  background-size: 100%;
  background-color: black;
  
}
.navbar{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 50px;
  z-index: 9999;
  position: fixed;
}
h3{
width: 100%;
color: white;
text-align: center;
font-family: emoji;
}
.container{
width: 100%;
padding-top: 200px;
}
h1{
text-align:center;
color: white;
font-family:fantasy;
font-size: 5em;
}
.row{
margin-top: 90px;
width: 90%;
margin-left: auto;
margin-right: auto;
}
.editor{
  background-color: #131819;
  color: white;
  border-radius: 5px;
  font-family: Consolas, sans-serif;
  font-size: .95em;
  padding: 10px;
}
.etiqueta{
  color: #497ed4;
}
.x1{
  color: #86b6ec;
}
.x2{
  color: #9c5b5b;
}
.x3{
  color: #e4e4e49;
}
.x4{
  color: #7ac1bf;
}
.bootstrap{
  color: #3cc53c;
  font-size: 0.77em;
}
footer{
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  bottom: 0%;
}